* {
    font-family: Helvetica;
}

body {
    background-color: #EAEAEA;
}

.blok-menu {
    background-color: #625B5B;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #625B5B;
    color: white;
    padding: 20px;
    text-align: center;
}

img {
    width: 100%;
}

ol {
    margin-left: 40px;
    list-style-type: circle;
}

.blok-menu a {
    font-weight: bold;
    background-color: #EAEAEA;
    color: #625B5B;
    padding: 10px;
    margin: 50px;
    border-radius: 20px;
}

.blok-menu a:hovers{
    background-color: #625B5B;
    color: #EAEAEA;
    border-width: 1px;
    border-style: dashed;
    border-color: #EAEAEA;
}

table th, td {
    border-style: dashed;
    border-width: 1px;
    border-width: 60%;
    border-color: #625B5B;
    margin-left: 40px;
    text-align: center;
}

.kontrolki {
    margin: 5px;

}

 
   
